.headingContainer {
    /* this is the fixed width heading container */
    /* inside which the actual (scaled) logo is rendered */
    text-align: center;
    width: 100%;
}

.headingLogo {
    padding-top: 30px;
}

.logoIcon {
    height: 150px;
    display: inline-block;
    margin-left: 26px;
    margin-right: 26px;
}

.logoText {
    font-family: 'Devonshire', cursive;
    font-size: 120px;
    line-height: 150px;
    vertical-align: top;
    display: inline-block;
}
