.container {
    margin: 0 10px;
}

.video {
    /* actual border color is white since we use invert */
    border: 1px solid black;
    border-radius: 9px;
    background-color: #949494;
    filter: invert(1);
}

.button {
    display: block;
    margin: 10px auto 2px;
}