.container {
    background-color: #dbdbdb;
    width: 100vw;
    height: 100vh;
}

.heading {
    text-align: center;
    height: 150px;
    padding-top: 30px;
}

.headingIcon {
    height: 150px;
    display: inline-block;
}

.headingText {
    font-family: 'Devonshire', cursive;
    font-size: 75px;
    line-height: 150px;
    vertical-align: top;
    display: inline-block;
    margin-left: 18px;
}
